<section class="container-fluid row">
  <div class="row col-2  col-lg-2 col-md-2 col-12">
    <app-nav></app-nav>
  </div>

  <!--middle form-->
  <div id="content" class="col-10 col-lg-10 col-md-12 col-12 middle">
    <div class="row">
      <section class="line col-5  col-lg-5 col-md-12 col-12">
        <div class="input-group input-group-lg mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-search"></i></span>
          </div>
          <input type="text" placeholder="Find a user ,team , quiz" class="form-control input-group-text"
            aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
        <section class="container border bg-light text-dark mt-5 p-3">
          <h4>Questions...</h4>
          <form #myForm="ngForm" (ngSubmit)='AddMyQuestion(myForm.value)'>
            <div class="form-group">
              <label for="outcome title"><span class="star">*</span>Questions 1#</label>
              <span class="counter" *ngIf="values.length == 0; else y ">10/100</span>
              <ng-template #y><span class="counter pt-5"> {{values.length}}/100</span></ng-template>

              <input class="form-control p-2" placeholder=" " name="question_title" (keyup)="onKey($event)"
                maxlength="100" ngModel>
            </div>
            <div class="form-group">
              <label for="sel1"><span class="star">*</span>Answer Type:</label>
              <select class="form-control" name="outcome_title" ngModel>
                <option>text </option>
                <option>image/text</option>

              </select>
            </div>
            <div class="form-group">
              <label for="sel1"><span class="star">*</span>Answers:</label>
              <select class="form-control" name="answer_type" ngModel>
                <option>outcome 1</option>
                <option>outcome 2</option>
              </select>
            </div>

            <div class="form-group">
              <a [routerLink]="['/home']"> <button class="btn btn-outline-secondary">Back</button></a>
              <button type="submit" class="btn btn-success addbtn  ">Save and Creat Question</button>
            </div>

          </form>
        </section>
      </section>



      <!--last form-->
      <div class="line col-7 col-lg-7 col-md-12 col-12 last">

        <div class="prev ">
          <h6>live preview</h6>
          <div class="titlepre">
            <h2>{{values}}</h2>
          </div>
          <img src="../../assets/images/22.jpg" alt="live image" class="liveimage img-fluid">
          <p>Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Architecto officiis veritatis natus assumenda fugit libero,
            omnis, ipsum delectus minima blanditiis aperiam recusandae,
            odit unde consectetur in deleniti eius sint soluta.</p>
          <br>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa reprehenderit dolore maxime enim cupiditate
            numquam blanditiis. Veniam, repellat aspernatur distinctio quibusdam, optio temporibus,
            quae perferendis eaque consequuntur et inventore magni.
          </p>
        </div>


      </div>


    </div>
  </div>
</section>